.sceneElement{
    position: fixed;
    background: rgb(54, 25, 25); /* Fall-back for browsers that don't  support rgba */
    background: rgba(54, 25, 25,0.5);
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
}
.sceneHeader{
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
}
.sceneFooter{
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
}
.sceneLeftSidebar{
    left: 0;
    top: 200px;
}
.sceneRightSidebar{
    right: 0;
    top: 200px;
}